@model IEnumerable<ACTMS.Models.Province>
@{
    ViewBag.Title = "Province";
    Layout = "~/Views/Shared/_Common.cshtml";
}



@if (!Model.Any())
{
    <h1>No Church Province Registered!</h1><hr />
    <a>Model.Province.Count</a>
}
else
{
    <div class="head-data">
     <h4>List of Companies</h4>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr><th>Division</th><th>Division</th></tr>
        </thead>
        @foreach (var province in Model)
        {
            <tbody>
                <tr>
                    <td>@Html.ActionLink(province.Name, "Edit", "Province", new { id = province.id }, null)
</td>
                    <td>@province.Division.Name</td>
                </tr>
                
            </tbody>

        }

    </table>
}
